@media (max-width: 770px) {
    .header .search-boxs{
        max-width: 20px !important;
        margin-right: auto;
        margin-left: 20px;
    }
    .header .search-tools .la-search{
        position: relative;
    top: -20px;
    left: 2px;
    padding-left: 0 !important;
    }
}
@media (max-width: 918.98px) {
    .main .sb-item .sb-tex, .ds-hidden {
        display: none ;
    }
    .main .sb-icon {
        padding-left: 5px !important;
    }
    
    .main .diss {
        display: block !important;
    }
}
@media (max-width: 770.98px) { 
.search-boxs{
    flex: inherit;
    justify-content: inherit;
    order: inherit;
    align-self: inherit;
    min-width: inherit;
}
}
body {
    direction: rtl;
}
* {
    font-weight: 400;
}
span{
    font-size: .9rem;
}
.main .main-body{
    padding-top: 3rem;
}
.main .row {
    flex-wrap: initial;
    margin: 0;
}

.header .main-header {
    background-color: #0078D7;
}
.main .main-header{
    color: #5C72E4;
}
.header .profile-avatar {
    height: 32px;
}

.header .right-section {
    display: contents;
    color: white;
    font-size: 20px;
}

.header .right-section i {
    padding-left: 20px;
}

.header .search-boxs {
    height: 32px;
    width: 100%;
    max-width: 400px;
    background-color: rgba(244, 246, 255, 0.8);
}

.header .search-box {
    width: 93%;
}

.header .search-tools {
    padding-top: 3px;
}
.header .search-tools .la-search{
padding-left: 6px;
}
.header .left-section{
    display: flex;
}
.header .left-section .app-name span{
    line-height: 1.5;
}
.header .app-icon .fa-th{
    font-size: 20px;
    color: white;
}

.main {
    flex: 1 1 0px;
    margin: 0 10 0 10;
}

.main .menu-entered {
    width: auto;
    background-color: #F4F4F4;
    height: auto;
    min-height: 92.5vh;
    position: relative;
    right: -10px;
}

.main .sidebar-header {
    font-size: 1.4rem;
    text-align: right;
    padding-top: 31px;
    padding-bottom: 31px;
    margin-right: 8px;
}

.main .sidebar-body {
    display: grid;
}

.main .sb-item {
    align-items: center;
    display: flex;
    cursor: pointer;
    height: 2.5rem;
    min-height: 2.5rem;
}
.main .sb-item:hover {
    background-color: #fafafa;
}
.main .sb-item .txt-input{
    background: 0;
}
.main .sb-icon {
    font-size: 1.2rem;
    padding-left: 13px;
}
.main .sb-item .sb-icon{
    margin-right: 8px;
}
.main .add-task {
    border-bottom: 1px solid #e5e5e5;
}
.main .sidebar-footer .sb-icon  .la-folder-plus{
    line-height: 2.1 !important;
}

.main .task-list {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
}


.main .task-list .list-checkbox p {
    line-height: 3;
    margin-bottom: 3;
    margin-right: 20px;
}

.main .add-task-info-input {
    color: #3e69e4;
}

.main .task-favorite {
    padding-top: 16px;
}

.main .sb-item .la-home {
    color: #3e69e4;
}

.main .sb-item .la-user {
    color: #5ca52d;
}

.main .sidebar-footer {
    color: #324bdf;
}
.main .header-icon-txt{
    line-height: 2;
}

.task-list label:after {
    background-color: teal;
}

.info {
    position: relative;
    left: -9px;
    background: #F4F4F4;
    width: 360px;
    border-left: 1px solid #eaeaea;
    text-align: start;
}
.info .info-body{
    margin-bottom: 64px;
}
.main .task-step-header-txt {
    line-height: 3;
}
.add-task-icon .sb-icon i{
    position: relative;
    right: -3px;
}
.main .task-step-header-txt span {
    font-weight: 600;
}

.main .info-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 10 0 10;
}
.main .add-task-step{
    color: #3e69e4;
}
.main .add-task-step-txt {
    line-height:1;
}
.main .sb-icon .la-circle{
    font-size: 23px;
}

.main .sb-icon .la-plus{
    font-size: 23px;
}
.info .info-sb-icon{
    font-size: 1.2rem;
    line-height: 2.4rem;
}
.info .task-info-today{
    width: 100%;
}
.info .task-date-info{
    display: grid;
    font-size: 1.2rem;
}
.info .task-di-txt{
    line-height: 1;
    padding-right: 1rem;
}
.info .task-di{
border-bottom: 1px solid  #e5e5e5;
}
.info .add-task-file-txt{
    line-height: 1;
}
.info .task-info .task-info-note-input{
    font-style: italic;
    padding-bottom: 10px;
}
.info .task-info .task-info-note-txt span{
    font-size: small;
    font-weight: 100;
}
.info .task-info-note-input{
    height: 35px;
}

.label-class{
    padding-top: 14px;
}
.main .task-list .pretty.p-icon .state .icon{
    top: 0;
}
input[type="text"]:focus,input[type="search"]:focus{
outline: none;
}
.main .task-list,.info .task-di ,.info .task-info,.info .task-ditask-repeat{
    cursor: pointer;
}
.main .task-list:hover{
    background-color: #f5f5f5;
}
