
@media (max-width: 918.98px) {
    .main .sb-item .sb-tex, .ds-hidden {
        display: none ;
    }
    .main .sb-icon {
        padding-left: 5px !important;
    }
    
    .main .diss {
        display: block !important;
    }
}
@media (max-width: 770.98px) { 
.search-boxs{
    flex: inherit;
    justify-content: inherit;
    order: inherit;
    align-self: inherit;
    min-width: inherit;
}
}
body {
    direction: rtl;
}
* {
    font-weight: 400;
}
span{
    font-size: .9rem;
}
.main .row {
    flex-wrap: initial;
    margin: 0;
}


.main {
    flex: 1 1 0px;
    margin: 0 10 0 10;
}

.main .sb-item:hover {
    background-color: #fafafa;
}
.main .sb-item .txt-input{
    background: 0;
}
.main .sb-icon {
    font-size: 1.2rem;
    padding-left: 13px;
}
.main .sb-item .sb-icon{
    margin-right: 8px;
}
.main .add-task {
    border-bottom: 1px solid #e5e5e5;
}
.main .sidebar-footer .sb-icon  .la-folder-plus{
    line-height: 2.1 !important;
}


.main .task-list .list-checkbox p {
    line-height: 3;
    margin-bottom: 3;
    margin-right: 20px;
}

.main .add-task-info-input {
    color: #3e69e4;
}

.main .sb-item .la-home {
    color: #3e69e4;
}

.main .sb-item .la-user {
    color: #5ca52d;
}

.main .sidebar-footer {
    color: #324bdf;
}
.main .header-icon-txt{
    line-height: 2;
}

.task-list label:after {
    background-color: teal;
}


.main .task-step-header-txt {
    line-height: 3;
}
.add-task-icon .sb-icon i{
    position: relative;
    right: -3px;
}
.main .task-step-header-txt span {
    font-weight: 600;
}

.main .add-task-step{
    color: #3e69e4;
}
.main .add-task-step-txt {
    line-height:1;
}
.main .sb-icon .la-circle{
    font-size: 23px;
}

.main .sb-icon .la-plus{
    font-size: 23px;
}

.label-class{
    padding-top: 14px;
}
.main .task-list .pretty.p-icon .state .icon{
    top: 0;
}
input[type="text"]:focus,input[type="search"]:focus{
outline: none;
}
.main .task-list,.info .task-di ,.info .task-info,.info .task-ditask-repeat{
    cursor: pointer;
}
.main .task-list:hover{
    background-color: #f5f5f5;
}